@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
:root{
    --dark-black: #13110f;
    --darker-green: #097434;
    --lime-green: #00ff22;
    --blueish-green: #006d0f;
    --reddish-black: #030202;
    --transparent-green: #2aa85c71;
    --transparent-green-highlight: #3aec8180;
    --perfect-green: #00a316;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anta', sans-serif;
    color: var(--perfect-green);
}
body{
    background-color: var(--reddish-black);
}
.uName{
    text-align: center;
    background: linear-gradient(to right,var(--darker-green), var(--lime-green));
    -webkit-background-clip: text;
    color: transparent;
    width: min-content;
    font-size: 3rem;
}
hr{
    width: 100%;
    color: var(--perfect-green);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    left: 0;
    transition: ease 0.5s;
    z-index: 100;
    backdrop-filter: blur(7px);
}
.toTop span{
    font-size: 2rem;
    background-color: var(--transparent-green);
    border-radius: 50%;
    padding: .1rem;
    transition: ease 0.3s;
    position: fixed;
    bottom: 10%;
    right: 7%;
    z-index: 1000;

    color: var(--lime-green);
}
header b{
    justify-self: center;
}
.toTop span:hover{
    background-color: var(--transparent-green-highlight);
}
.links{
    display: flex;
    gap: 3rem;
    padding: 0 5rem;
}
.links a{

    font-size: 1.2rem;
}
a{
    transition: ease 0.3s;
    text-decoration: none;
}
a:hover{
    color: var(--lime-green);
    text-shadow: 0 1px 10px var(--lime-green);
}
main{
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p{
    padding: 1rem 0;
}
#intro h1{
    font-size: 5rem;
    line-height: 6.5rem;
}
#intro h3{
    font-size: 1.5rem;
}
.projectButton{
    border: .2rem solid var(--perfect-green);
    padding: .5rem 1rem;
    border-radius: .3rem;
    width: max-content;
    position: relative;
    font-size: 1rem;
}
.projectButton:hover{
    box-shadow: 0 0 10px var(--perfect-green);
}
#about, #contact, #projects{
    padding: 1rem;
    border-radius: 1rem;
    transition: ease 0.3s;
}
.profile table, .offer ul, #projects ul{
    padding: 1rem;
    line-height: 1.5rem;
}
.profile tr{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
li > a{
    color: var(--blueish-green);
}
ul{
    list-style:inside decimal-leading-zero;
}
#contact tr{
    display: flex;
    gap: .5rem;
    align-items: flex-start;
}
.mobile{
    display: none;
}
button{
    background: none;
    border: none;
}
.mobile span{
    font-size: 3rem;
    cursor: pointer;
}
#dropdown{
    display: none;
    z-index: 1000;
    position: fixed;
    right: 0;
    top: 64px;
    padding: 3rem 2rem;
    flex-direction: column;
    gap: 2rem;
    backdrop-filter: blur(7px);
    font-size: 3rem;
    max-width: 234px;
}
#dropdown a{
    background: none;
}
@media screen and (max-width: 1300px){
    .links{
        padding: 0 2.5rem;
    }
}
@media screen and (max-width: 1000px){
    #intro h1{
        font-size: 3.5rem;
        line-height: 4.5rem;
    }
    header > b{
        display: none;
    }
}
@media screen and (max-width: 700px){
    .mobile{
        display: flex;
    }
    .desktop{
        display:none
    }
}
@media screen and (max-width:630px){
    main{
        padding: 1rem 2rem;
    }
}
@media screen and (max-width:520px){
    main{
        padding: 1rem .5rem;
    }
}
@media screen and (max-width:400px){
    .mobile{
        padding: 1rem .5rem;
    }
}
